<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<div class="container">
  <%= simple_form_for [@cow, @booking] do |f| %>
    <%= f.input :start_date, as: :date, html5: true  %>
    <%= f.input :duration %>
    <%= f.input :location %>
    <%= f.submit %>
  <% end %>
</div>
