
<div class="container mt-1">
  <div class="text-center">
    <%= form_with url: root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a cow"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<ul class="cards">
  <% @cows.each do |cow| %>
    <%= link_to cow_path(cow), class:"text-decoration-none" do %>
      <div class="cow-card">
        <% if cow.photo.key %>
          <%= cl_image_tag cow.photo.key, crop: :fill %>
        <% end %>
        <div class="cow-card-infos">
          <div>
            <h2><%= cow.name %></h2>
            <p><%= cow.description %></p>
          </div>
          <h3 class="cow-card-pricing"><%= cow.price_per_day %>€</h3>
          <%= image_tag "user.png", class: "cow-card-user avatar-bordered" %>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>
