<div class="container mt-5">
  <%= form_with model: [cow, tag] do |f| %>
  <div class="card">
      <div class="mb-3">
        <%= f.label :name, "Add Tag", {class: "form-label"} %>
        <%= f.text_field :name, list: "tags_autocomplete" %>
        <datalist id="tags_autocomplete">
          <% Tag.all.each do |tag| %>
            <option value="<%= tag.name %>"></option>
          <% end %>
        </datalist>
      </div>

      <br>
      <div class="mb3 mt3">
      <%= f.submit "Add tag!", class: "btn btn-warning"%>
      </div>

    </div>
  </div>
  <% end %>
</div>
