<div class="container mt-5">
  <h3>Add a Cow Mow Mow</h3>
    <%= simple_form_for(cow) do |f| %>
    <div class="card">
    <div class="card-body">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :location,
        input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
      <%= f.input :price_per_day %>
      <%= f.input :photo %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-warning" %>
    </div>
    </div>
  <% end %>
  </div>
  <hr>



</div>
