<div class="wrapper">
  <div class="container">
    <div class="edit-cow-banner"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cow.photo.key %>')"
    >
      <h1 class="text-uppercase fw-bolder"><%= @cow.name %></h1>
    </div>


  <div class="edit-cow-form">
    <%= simple_form_for(@cow) do |f| %>
      <%= f.input :name  %>
      <%= f.input :description  %>
      <%= f.input :location  %>
      <%= f.input :price_per_day  %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>

    <%= link_to "Back to My Cows", cow_path(@cow) %>
  </div>
</div>
