<div class="wrapper">
  <div class="container">
    <h1 class="text-uppercase fw-bolder"><%= @cow.name %></h1>
    <%= cl_image_tag @cow.photo.key, class: "cow-edit-img" %>

  <div class="edit-cow-form">
    <%= simple_form_for(@cow) do |f| %>
      <%= f.input :name  %>
      <%= f.input :description  %>
      <%= f.input :location  %>
      <%= f.input :price_per_day  %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>

    <%= link_to "Back to My Cows", cow_path(@cow) %>
  </div>
</div>
