<div class="container">
  <h1>All the cows</h1>
  <%= link_to "Back Home", root_path %>
  <%= link_to "New Cow", new_cow_path  %>
  <hr>
   <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <ul>
    <% @cows.each do |cow| %>
      <h2>Name : <%= cow.name %></h2>
      <p>Description : <%= cow.description %></p>
      <h3>Price : <%= cow.price_per_day %>€</h3>
      <% if cow.photo.key %>
        <%= cl_image_tag cow.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <br>
      <%= link_to "Show", cow_path(cow) %>
      <hr>
    <% end %>
  </ul>
</div>
