<div class="wrapper">
  <div class="container">

    <div class="card-individual-cow">
      <%= cl_image_tag @cow.photo.key %>
      <div class="card-individual-cow-infos">
        <div>
          <h2 class="text-uppercase fw-bolder"><%= @cow.name %></h2>
          <p><%= @cow.description %></p>
          <p><%= @cow.location %></p>
        </div>

        <h2 class="card-individual-cow-pricing"><%= @cow.price_per_day %>€/day</h2>
      </div>

      <div class="cow-owner-info">
        <%= image_tag "user.png", class: "card-individual-cow-user" %>
        <p>This cow is owned by <a href="#"><%= @cow.user.first_name %></a></p>
      </div>

      <div class="cow-show-links">
        <% if @cow.user_id == current_user.id %>
          <%= render "tags/create_tag", cow: @cow, tag: @tag %>
          <br>
          <%= link_to "edit my cow", edit_cow_path(@cow), class: "navy-button" %>
          <%= link_to "view #{@cow.name}'s bookings", "#", class: "blue-button" %>
          <%= link_to "delete my cow", cow_path(@cow), class: "light-blue-button", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% else %>
          <%= link_to "Book this cow !", new_cow_booking_path(@cow), class: "navy-button" %> <br>
        <% end %>
      </div>
    </div>

    <div class="cow-tags">
    <% @cow.tags.each do |tag| %>
      <button type="button" class="h-50 btn btn-warning btn-sm my-2"><%= tag.name %></button>
    <% end %>
    </div>

  </div>
</div>
