<div class="wrapper">
  <div class="container">

    <div class="card-individual-cow">
      <%= cl_image_tag @cow.photo.key %>
      <div class="cow-details">
           <div style="width: 100%; height: 600px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        <div class="cow-tags-container">


          <div class="card-cow-tags">
            <% @cow.tags.each do |tag| %>
              <p class="cow-tag"> <%= tag.name %> </p>
            <% end %>
          </div>

          <div>
            <% if @cow.user_id == current_user.id %>
              <%= render "tags/create_tag", cow: @cow, tag: @tag %>
            <% end %>
          </div>
        </div>

        <div class="card-individual-cow-infos">
          <div>
            <h2 class="text-uppercase fw-bolder"><%= @cow.name %></h2>
            <p><%= @cow.description %></p>
            <p><%= @cow.location %></p>
          </div>

          <h2 class="card-individual-cow-pricing">
            <%= @cow.price_per_day %>€/day
          </h2>
        </div>

        <div class="cow-owner-info">
          <%= image_tag "user.png", class: "card-individual-cow-user" %>
          <p>This cow is owned by <a href="#"><%= @cow.user.first_name %></a></p>
        </div>

        <div class="cow-owner-controls">
          <% if user_signed_in? %>
            <% if @cow.user_id == current_user.id %>
              <div class="my-cow-links">
                <%= link_to "edit my cow", edit_cow_path(@cow), class: "navy-button", id: "edit-my-cow-btn" %>
                <%= link_to "#{@cow.name}'s bookings", "#", class: "blue-button", id: "cows-view-bookings-btn" %>
                <%= link_to "delete my cow", cow_path(@cow), class: "light-blue-button", id: "delete-my-cow-btn", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                <%= link_to "back to my cows", mycows_cows_path, class: "navy-button", id: "back-to-my-cows-btn" %>
              </div>
            <% else %>
              <%= link_to "Book this cow !", new_cow_booking_path(@cow), class: "navy-button" %> <br>
            <% end %>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>
